<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.software.march">

    <!-- 读取联系人权限 -->
    <uses-permission android:name="android.permission.READ_CONTACTS" />
    <!-- 打电话的权限 -->
    <uses-permission android:name="android.permission.CALL_PHONE" />
    <!-- 发短信的权限 -->
    <uses-permission android:name="android.permission.SEND_SMS" />
    <!-- 操作SDCard的权限 -->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <!-- 网络权限 -->
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/ThemeAppDay">
        <activity android:name=".activity.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activity.ActivityActivity"
            android:label="@string/label_activity" />
        <activity
            android:name=".activity.LifecycleActivity"
            android:label="@string/label_activity_lifecycle" />
        <activity
            android:name=".activity.LifecycleDialogActivity"
            android:label="@string/label_dialog_activity"
            android:theme="@style/ThemeDialog" />
        <activity
            android:name=".activity.RestoreInstanceActivity"
            android:label="@string/label_restore_instance" />
        <activity
            android:name=".activity.StartModeActivity"
            android:label="@string/label_start_mode" />
        <activity
            android:name=".activity.ResultActivity"
            android:label="@string/label_start_mode" />
        <activity
            android:name=".activity.LaunchModeActivity"
            android:label="@string/label_launch_mode" />
        <activity
            android:name=".activity.LaunchModeStandardActivity"
            android:label="@string/label_launch_mode"
            android:launchMode="standard" />
        <activity
            android:name=".activity.LaunchModeSingleTopActivity"
            android:label="@string/label_launch_mode"
            android:launchMode="singleTop" />
        <activity
            android:name=".activity.LaunchModeSingleTaskActivity"
            android:label="@string/label_launch_mode"
            android:launchMode="singleTask" />
        <activity
            android:name=".activity.LaunchModeSingleInstanceActivity"
            android:label="@string/label_launch_mode"
            android:launchMode="singleInstance" />
        <activity
            android:name=".activity.IntentFilterActivity"
            android:label="@string/label_intent_filter" />
        <activity
            android:name=".activity.UIActivity"
            android:label="@string/label_ui" />
        <activity
            android:name=".activity.FrameLayoutActivity"
            android:label="@string/label_frame_layout" />
        <activity
            android:name=".activity.LinearLayoutActivity"
            android:label="@string/label_linear_layout" />
        <activity
            android:name=".activity.RelativeLayoutActivity"
            android:label="@string/label_relative_layout" />
        <activity
            android:name=".activity.AbsoluteLayoutActivity"
            android:label="@string/label_absolute_layout" />
        <activity
            android:name=".activity.TableLayoutActivity"
            android:label="@string/label_table_layout" />
        <activity
            android:name=".activity.SimpleComponentActivity"
            android:label="@string/label_simple_component" />
        <activity
            android:name=".activity.BarComponentActivity"
            android:label="@string/label_bar_component" />
        <activity
            android:name=".activity.DialogComponentActivity"
            android:label="@string/label_dialog_component" />
        <activity
            android:name=".activity.MenuComponentActivity"
            android:label="@string/label_menu_component" />
        <activity
            android:name=".activity.LayoutActivity"
            android:label="@string/label_layout" />
        <activity
            android:name=".activity.ListViewActivity"
            android:label="@string/label_list_view" />
        <activity
            android:name=".activity.ArrayAdapterActivity"
            android:label="@string/label_array_adapter" />
        <activity
            android:name=".activity.SimpleAdapterActivity"
            android:label="@string/label_simple_adapter" />
        <activity
            android:name=".activity.SimpleCursorAdapterActivity"
            android:label="@string/label_simple_cursor_adapter" />
        <activity
            android:name=".activity.BaseAdapterActivity"
            android:label="@string/label_base_adapter" />
        <activity
            android:name=".activity.GridViewActivity"
            android:label="@string/label_grid_view" />
        <activity
            android:name=".activity.ServiceActivity"
            android:label="@string/label_service" />
        <activity
            android:name=".activity.ServiceLifecycleActivity"
            android:label="@string/label_service_lifecycle" />
        <activity
            android:name=".activity.BindServiceActivity"
            android:label="@string/label_bind_service" />
        <activity
            android:name=".activity.BroadcastReceiverActivity"
            android:label="@string/label_broadcast_receiver" />
        <activity
            android:name=".activity.SendBroadcastActivity"
            android:label="@string/label_send_broadcast" />
        <activity
            android:name=".activity.ContentProviderActivity"
            android:label="@string/label_content_provider" />
        <activity
            android:name=".activity.PersonProviderActivity"
            android:label="@string/label_person_provider" />

        <!-- ========================== -->
        <activity
            android:name=".activity.SharedPreferencesActivity"
            android:label="@string/label_shared_preferences" />
        <activity
            android:name=".activity.FileActivity"
            android:label="@string/label_file" />
        <activity
            android:name=".activity.SQLiteActivity"
            android:label="@string/label_sqlite" />
        <activity
            android:name=".activity.NetWorkActivity"
            android:label="@string/label_net_work" />
        <activity
            android:name=".activity.ApplicationInstallationLocationActivity"
            android:label="@string/label_application_installation_location" />

        <!-- ========================== -->
        <!-- 静态注册 -->
        <receiver android:name=".receiver.NormalStaticBroadcastReceiver">
            <intent-filter>
                <action android:name="com.software.march.NORMAL_STATIC_BROADCAST_RECEIVER" />
            </intent-filter>
        </receiver>
        <!-- 测试发送有序广播(动态注册)需要注册的广播 -->
        <receiver android:name=".receiver.OrderBroadcastReceiver2">
            <intent-filter>
                <action android:name="com.software.march.ORDER_BROADCAST_RECEIVER" />
            </intent-filter>
        </receiver>
        <receiver android:name=".receiver.OrderBroadcastReceiver3">

            <!-- priority 指定当前receiver的优先级,值是0-1000,越大越好 -->
            <intent-filter android:priority="2147483647">
                <action android:name="com.software.march.ORDER_BROADCAST_RECEIVER" />
            </intent-filter>
        </receiver>

        <!-- ========================== -->
        <service android:name=".service.local.LifecycleService" />
        <service android:name=".service.local.LocalService" />
        <service android:name=".service.remote.MessengerService">
            <intent-filter>
                <action android:name="com.software.march.MESSENGER_SERVICE" />
            </intent-filter>
        </service>
        <service android:name=".service.remote.RemoteService">
            <intent-filter>
                <action android:name="com.software.march.REMOTE_SERVICE" />
            </intent-filter>
        </service>

        <!-- ========================== -->
        <provider
            android:name=".provider.PersonProvider"
            android:authorities="com.software.march.provider" />
    </application>

</manifest>